.conf
aws/.aws/*
!aws/.aws/config
!aws/.aws/credentials.shtpl

bash/*
!bash/.bash_profile
!bash/.bashrc

docker/.docker/*
!docker/.docker/config.json.shtpl

git/*
!git/.gitconfig.shtpl
!git/.gitignore
!git/.stow-local-ignore

msmtp/*
!msmtp/.msmtprc
!msmtp/.netrc.shtpl

rclone/*
!rclone/.rclone.conf.shtpl

shell/*
!shell/.profile.shtpl

ssh/.ssh/*
!ssh/.ssh/authorized_keys
!ssh/.ssh/config

tmux/*
!tmux/.tmux.conf
