# repo specific
.conf
aws/.aws/*
!aws/.aws/*.shtpl
bash/*
!bash/.*.shtpl
docker/.docker/*
!docker/.docker/*.*.shtpl
git/*
!git/\.*.shtpl
msmtp/*
!msmtp/.*.shtpl
rclone/*
!rclone/.*.shtpl
shell/*
!shell/\.*.shtpl
